{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    <p>
        OK ça marche !! super !!
    </p>
{% endblock %}